<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "./static/style.css">
    <link rel = "stylesheet" href = "./static/dashboard.css">
    <title>CodeHub - Dashboard</title>
</head>
<body>
    <div class="mainArea">
        <div class="burgerBar">

        </div>
        <div class="mainBox">
            <div class="navbar">
                <div class="navItems">
                    Welcome back, <b>{{.Username}}</b>
                </div>
                <div class="navItems">
                    <button id = "settings" href = "/settings">Settings</button>
                    <button id = "logOut">Log out</button>
                </div>
            </div>
            <div class="mainContent">
            </div>
        </div>
    </div>
</body>
</html>