<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeHub - Register System</title>
</head>
<body>
    <form method="POST" action="/register">
        <input placeholder = "Username" type = "text" name = "username" id = "username" required>
        <input placeholder = "Password" type = "password" name = "password" id = "password" required>
        <input placeholder = "E-Mail" type = "email" name = "email" id = "email" required>
        <input placeholder = "+385 989 272 1845" type = "tel" name = "phoneNumber" id = "phoneNumber" required>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>